:root{
    --primary-color:#5D25E6;
    --secondary-color:rgb(224, 220, 228);
    --third-color:#FFEBF1;
    --forth-color:#F0FBFD;
    --box-shadow: 10px 10px 10px rgb(0,0,0,0.3);
--border: 1px solid rgba(0,0,0,0.125);
}
.card-body{
    background: var(--secondary-color );
}
.card-title{font-family: 'Corinthia', cursive;
font-size: xx-large;
margin:30px 10px ;
}
.card-text{font-size: 20px;
margin: 20px;}
.mail-link, .linkedin, .instagram{text-decoration: none;
font-size: 18px;}
.mail-link:hover{text-decoration: underline;}