
:root{
    --primary-color:#5D25E6;
    --secondary-color:rgb(224, 220, 228);
    --third-color:#FFEBF1;
    --forth-color:#F0FBFD;
    --box-shadow: 10px 10px 10px rgb(0,0,0,0.3);
--border: 1px solid rgba(0,0,0,0.125);
--heading-font-familyL:'Corinthia', cursive;
--default-font-familyL:
}
.card-body{
    background: var(--secondary-color );
}

.card-title{font-family: 'Corinthia', cursive;
font-size: xx-large;
margin:30px 10px ;
}
.card-text{font-size: 20px;
margin: 20px;}
.mail-link, .linkedin, .instagram{text-decoration: none;
font-size: 18px;}
.mail-link:hover{text-decoration: underline;}

.main{ text-align: center;
background: var(--secondary-color);
padding: 100px 40px}
.main p{font-size: 28px;}
.main h2{font-size: 20px;
color: rgb(71, 48, 48);}
.intrudoction{padding: 20px;}
.part{border: 1px solid black;
}
.mail-link:hover{text-decoration: underline;}

@media(max-width:600px){.contact-address{font-size: 22px;
padding: 30px;
display: none;}
.img-fluid{border: 1px solid blue;
border-radius: 50%;
width: 95px;
display: block;
margin:50px;
margin-top: 100px;}

.contact-button{
 text-decoration:none ;
 border: 1px solid var(--primary-color);
 padding: 10px 30px;
 border-radius: 5px;
 background: white;
 font-size: 20px;
 position: relative;
 top: 50px; 
}

