
:root{
    --primary-color:#5D25E6;
    --secondary-color:rgb(224, 220, 228);
    --third-color:#FFEBF1;
    --forth-color:#F0FBFD;
    --box-shadow: 10px 10px 10px rgb(0,0,0,0.3);
--border: 1px solid rgba(0,0,0,0.125);
--heading-font-familyL:font-family: 'Libre Baskerville', serif;
--default-font-familyL:font-family: 'Playfair Display', serif;
}
.card-body{
    background: var(--secondary-color );
}

.card-title{font-family: var(--heading-font-familyL);
font-size: xx-large;
margin:30px 10px ;
}
.card-text{font-size: 20px;
margin: 20px;}
.mail-link, .linkedin, .instagram{text-decoration: none;
font-size: 18px;}
.mail-link:hover{text-decoration: underline;}

.main{ text-align: center;
background: var(--secondary-color);
padding: 100px 40px}
.main p{font-size: 28px;
font-family: var(--default-font-familyL);}
.main h2{font-size: 20px;
color: rgb(71, 48, 48);}
.intrudoction{padding: 20px;}
.part{border: 1px solid black;
}
.mail-link:hover{text-decoration: underline;}
.intrudoction{line-height: 2;}

@media(max-width:600px){.contact-address{font-size: 22px;
padding: 30px;
display: none;}
}
.img-fluid{
width: 350px;
border-radius: 20px;
margin-top: 100px;
margin-left: 250px;}

.contact-button{
 text-decoration:none ;
 border: 1px solid var(--primary-color);
 padding: 10px 30px;
 border-radius: 5px;
 background: white;
 font-size: 20px;
 position: relative;
 top: 50px; 
}
.project-button{
 text-decoration:none ;
 border: 1px solid var(--primary-color);
 padding: 10px 30px;
 border-radius: 5px;
 color:white;
 background:var(--primary-color);
 font-size: 20px;
margin-left: 380px;
margin-top: 100px;
}
.contact-address{font-family: var(--heading-font-familyL);
font-size: 40px;
margin: 60px;
}
.about-heading{font-family: var(--heading-font-familyL);
font-size: 58px;
margin-top:100px;
}
.about-paragraph{font-family: var(--default-font-familyL);
  
font-size: 25px;}

.work-heading{margin-top: 120px;
text-align: center;
font-size: 50px;
font-family: var(--heading-font-familyL);}
